@font-face {
  font-family: "Helvetica Neue";
  src:
  url('../fonts/HelveticaNeueLTW20-Light.woff') format('woff'),
  url('../fonts/HelveticaNeueLTW20-Light.svg') format('svg'),
  url('../fonts/HelveticaNeueLTW20-Light.eot') format('embedded-opentype');
}
@font-face {
  font-family: "KFC Naskh";
  src:
  url('../fonts/KFC_naskh.otf') format('opentype');
}

@font-face {
  font-family: "Helvetica Neue";
  font-weight: 700;
  src:
  url('../fonts/HelveticaNeueLTW20-Bold.woff') format('woff'),
  url('../fonts/HelveticaNeueLTW20-Bold.svg') format('svg'),
  url('../fonts/HelveticaNeueLTW20-Bold.eot') format('embedded-opentype');
}
body {
  margin: 0;
  font-family: 'Helvetica Neue';
}
/* Start Reset*/
a{
  color:#000;
  text-decoration: none;
}
a:hover{
  text-decoration: none;
  cursor: pointer;
}

.text-extra-small {
    font-size: 9px;
}
.form-control{
  padding: 1px;
  height: 30px;
}

.divider{
  border-bottom: 1px solid #eee;
  padding: 5px;
}

.center{
  text-align: center;
}


.avatar{
    border-radius: 50%;
    border: 1px solid #6a829c;
    width: 50px;
    height: 50px;
}
.namecontainer{
  display: flex;
  flex-direction: column;
}

.nametitle{
  font-size: 12px;
  color: #908e8e;
  display: inline-block;
}

.plus-icon{
  border:1px solid #ccc;
  display: inline-block;
  width:20px;
  height: 20px;
  border-radius: 50%;
      text-align: center;
    line-height: 1;
}
.pull-left{
  float: left;
}
